################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Application/bin/Debug/net8.0
/Application/obj
/Core/bin/Debug/net8.0
/Core/obj
/Domain/bin/Debug/net8.0
/Domain/obj
/Infrastructure/bin/Debug/net8.0
/Infrastructure/obj
